@page "/"
@inherits EmployeeListBase

<h3>Employee List: Selected Employee Count - @SelectedEmployeeCount</h3>

@if (Employees == null)
{
    <div class="spinner">
    </div>
}
else
{   
    <div class="card-deck">
        <input id="showFooter" type="checkbox" @bind="ShowChildFooter" value="Toggle Footer" />
        <label for="showFooter">Show Footer</label>
        <div class="card-group">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" ShowFooter="ShowChildFooter" OnEmployeeSelection="EmployeeSelectionChanged"></DisplayEmployee>
        }
        </div>
    </div>
}